* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: OCR A Extended;
}

body {
    background-color: #18181B;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
}

.sectionPokemonInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.contentMain {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pokebola-icon {
    height: 50px;
}

.header-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 180px;
}

.contentLeftTittle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconImageElement {
    height: 70px;
}

.contentLeftBottom {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}

.divPrintResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-top: 25px;

}

.progressBar[value] {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 400px;
    height: 25px;
}

.progressBar::-moz-progress-bar {
    background-color: rgb(173, 173, 173);
}



.contentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageElement {
    height: 500px;
}

.idElement {
    font-size: 200px;
    color: rgb(173, 173, 173);
}

.nameElement {
    font-size: 80px;

}

.typeElement {
    font-size: 20px;
    margin-top: 10px;
}

.ElementString {
    font-size: 30px;
    width: 290px;
}

.statisticElement {
    font-size: 30px;
}

.contentLeftBottomProgress {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.contentLeftBottomNames,
.contentLeftBottomResults {
    display: flex;
    flex-direction: column;
    gap: 33px;
}


.headerPosition {
    position: absolute;
    left: 9.9%;
    top: 2%;
}

form {
    width: 250px;
    position: relative;
}

form input {
    width: 100%;
    color: #ffffff;
    background-color: #18181B;
    border: 1px solid #EF4036;
    border-radius: 50px;
    padding: 1rem 1rem;
    font-size: 17px;
    height: 40px;
}

form button {
    background-color: #18181B;
    border: none;
    border-radius: 50px;
    height: 80%;
    aspect-ratio: 1;
    position: absolute;
    right: 5px;
    top: 10%;
    cursor: pointer;
}

input:focus {
    text-transform: none;
    outline: none;
}