* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: OCR A Extended;
}

body {
    background-color: #18181B;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
}

.sectionPokemonInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.contentMain {
    width: 84%;
    height: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pokebola-icon {
    height: 45px;
}

.header-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15%;
    /* gap: 160px; */
}

.contentLeftTittle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconImageElement {
    height: 60px;
}

.contentLeftBottom {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    /* gap: 150px; */
}


.progressBar[value] {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 400px;
    height: 23px;
}

.progressBar::-moz-progress-bar {
    background-color: rgb(173, 173, 173);
}



.contentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageElement {
    height: 450px;
}

.idElement {
    font-size: 180px;
    color: rgb(173, 173, 173);
}

.nameElement {
    font-size: 73px;

}

.typeElement {
    font-size: 22px;
    margin-top: 10px;
}

.ElementString {
    font-size: 26px;
    width: 290px;
}

.statisticElement {
    font-size: 26px;
}

.contentLeftBottomProgress {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.contentLeftBottomNames,
.contentLeftBottomResults {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.headerPosition {
    position: absolute;
    left: 8%;
    top: 2%;
}

form {
    width: 250px;
    position: relative;
}

form input {
    width: 100%;
    color: #ffffff;
    background-color: #18181B;
    border: 1px solid #EF4036;
    border-radius: 50px;
    padding: 1rem 1rem;
    font-size: 17px;
    height: 40px;
}

form button {
    background-color: #18181B;
    border: none;
    border-radius: 50px;
    height: 80%;
    aspect-ratio: 1;
    position: absolute;
    right: 5px;
    top: 10%;
    cursor: pointer;
}

input:focus {
    text-transform: none;
    outline: none;
}

@media (min-width: 2260px) {

    .contentMain {
        width: 1897px;
    }

}